body {
	margin:0 auto;
	width:330px;
	padding:0;
	background: #00aabd; /* Old browsers */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwYWFiZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjE1JSIgc3RvcC1jb2xvcj0iIzAwYWFiZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjMwJSIgc3RvcC1jb2xvcj0iIzAwOGFiYiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9Ijc1JSIgc3RvcC1jb2xvcj0iIzE0MzI0OSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMxNDMyNDkiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #00aabd 0%, #00aabd 15%, #008abb 30%, #143249 75%, #143249 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#00aabd), color-stop(15%,#00aabd), color-stop(30%,#008abb), color-stop(75%,#143249), color-stop(100%,#143249)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #00aabd 0%,#00aabd 15%,#008abb 30%,#143249 75%,#143249 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #00aabd 0%,#00aabd 15%,#008abb 30%,#143249 75%,#143249 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #00aabd 0%,#00aabd 15%,#008abb 30%,#143249 75%,#143249 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #00aabd 0%,#00aabd 15%,#008abb 30%,#143249 75%,#143249 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00aabd', endColorstr='#143249',GradientType=0 ); /* IE6-8 */
	color:white;
}

#header h1 {
	padding-top:0;
	margin-top:0;
}
#header h1 {
	width: 330px;
	height: 168px;
	background-image:url(../images/Blu.png);
	background-repeat:no-repeat;
	text-indent:-9999px;
}
h1,h2,.title {
	font-weight:bold;
	padding:0;
	margin:0;
}
#premier div:first-child {
	background: rgba(151, 218, 248, 0.3);
}
#experience div:first-child, #music div, #tickets div, #vip div, #photos div:first-child, #adifference div, #bluisgreen div {
	background: rgba(151, 218, 248, 0.3);
	margin:0;
	padding:1em;
}
#music div div {
    padding:1em 0;
}
#champions span {
    display:block;
    clear:left;
}
#experience:before {
	content: url(../images/t1.png);
	display:block;
	height:40px;
}
#experience {
	background:url(../images/t1_bg.png) -8px center no-repeat;
}
#music:before {
	content: url(../images/t2.png);
	display:block;
	height:49px;
}
#tickets:before {
	content: url(../images/t3.png);
	display:block;
	height:28px;
}
#vip:before {
	content: url(../images/t4.png);
	display:block;
	height:45px;
}
#photos:before {
	content: url(../images/t5.png);
	display:block;
	height:52px;
}
#adifference:before {
	content: url(../images/t6.png);
	display:block;
	height:86px;
}
#bluisgreen:before {
	content: url(../images/t7.png);
	display:block;
	height:48px;
}
#bluisgreen:after {
	content: url(../images/t7_b.png);
	display:block;
	height:25px;
}

#bands span {
    display:block;
    clear:left;
}