body {
    font-family: 'Noto Sans', sans-serif;
    font-weight:400;
	margin:0 auto;
	width:330px;
	padding:0;
    background: #00aabd; /* Old browsers */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwYWFiZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjE1JSIgc3RvcC1jb2xvcj0iIzAwYWFiZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjMwJSIgc3RvcC1jb2xvcj0iIzAwOGFiYiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9Ijc1JSIgc3RvcC1jb2xvcj0iIzE0MzI0OSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMxNDMyNDkiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #00aabd 0%, #00aabd 15%, #008abb 30%, #143249 75%, #143249 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#00aabd), color-stop(15%,#00aabd), color-stop(30%,#008abb), color-stop(75%,#143249), color-stop(100%,#143249)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #00aabd 0%,#00aabd 15%,#008abb 30%,#143249 75%,#143249 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #00aabd 0%,#00aabd 15%,#008abb 30%,#143249 75%,#143249 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #00aabd 0%,#00aabd 15%,#008abb 30%,#143249 75%,#143249 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #00aabd 0%,#00aabd 15%,#008abb 30%,#143249 75%,#143249 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00aabd', endColorstr='#143249',GradientType=0 ); /* IE6-8 */
	color:white;
}
.btn {
    display:inline-block;
    width:145px;
    padding:.7em 0;
    font-weight:bold;
    text-decoration:none;
    text-transform:uppercase;
    
    text-align:center;
    
    background: #f0ec6b; /* Old browsers */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPHJhZGlhbEdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgY3g9IjUwJSIgY3k9IjUwJSIgcj0iNzUlIj4KICAgIDxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiNmMGVjNmIiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjYmZkODU3IiBzdG9wLW9wYWNpdHk9IjEiLz4KICA8L3JhZGlhbEdyYWRpZW50PgogIDxyZWN0IHg9Ii01MCIgeT0iLTUwIiB3aWR0aD0iMTAxIiBoZWlnaHQ9IjEwMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-radial-gradient(center, ellipse cover,  #f0ec6b 0%, #bfd857 100%); /* FF3.6+ */
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#f0ec6b), color-stop(100%,#bfd857)); /* Chrome,Safari4+ */
    background: -webkit-radial-gradient(center, ellipse cover,  #f0ec6b 0%,#bfd857 100%); /* Chrome10+,Safari5.1+ */
    background: -o-radial-gradient(center, ellipse cover,  #f0ec6b 0%,#bfd857 100%); /* Opera 12+ */
    background: -ms-radial-gradient(center, ellipse cover,  #f0ec6b 0%,#bfd857 100%); /* IE10+ */
    background: radial-gradient(ellipse at center,  #f0ec6b 0%,#bfd857 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0ec6b', endColorstr='#bfd857',GradientType=1 ); /* IE6-8 fallback on horizontal gradient */

    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    -khtml-border-radius: 8px;
    border-radius: 8px;
    color:#005CAB;
}
.mbreak {
    display:block;
    clear:left;
}
a, #social {
    color:#CC9933;
    font-weight:bold;
    text-decoration:none;
}
a[href^=tel] {
    color:#fff;
}
p,li,#bands {
    font-size:.85em;
    line-height:1.5em;
}
ul {
    list-style:none;
    padding: 0;
    margin:0;
}
.cost, .date, .title, .stitle {
    color:#F0EC6B;
}
.date {
    line-height:0;
    padding-bottom:0;
}
.stitle, .body {
    padding:0;
    margin:0;
}
.body {
    padding-bottom:1.5em;
    font-size:.8em;
}
#header h1 {
	padding-top:0;
	margin-top:0;
}
#header h1 {
	width: 330px;
	height: 168px;
	background-image:url(../images/Blu.png);
	background-repeat:no-repeat;
	text-indent:-9999px;
} 
#header h1, #header h2 {
    margin:0 auto;
    text-align:center;
}
#header h3 {
    font-size:1em;
    padding:0 1em;
    text-transform:uppercase;
    color:#F0EB6A;
}
h1, h2, .title, .stitle {
	font-weight:700;
    font-size:1.1em;
	padding:0;
	margin:0;
}
#sheddlogo {
    background:url(../images/sm_shedd.png);
    margin:0 auto;
    display:block;
    width:73px;
    height:63px;
    margin-bottom:15px;
}
#experience .stitle {
    font-size:.9em;
}
#intro, #social, #attire, #btntickets {
    padding:0 1em;
}
#header img {
    display:block;
    margin:0 auto;
    padding:15px 0;
}
#experience div:first-child, #music div:first-child, #tickets div:first-child, #vip div:first-child, #photos div:first-child, #adifference div:first-child, #bluisgreen div:first-child {
	background: rgba(151, 218, 248, 0.3);
	margin:0;
	padding:1em 10px;
}
#experience:before {
    content: url(../images/t1.png);
	display:block;
	height:40px;
}
#experience {
	background:url(../images/t1_bg.png) -8px center no-repeat;
    background-clip:content-box;
}
#experience .fld {
    background:url(../images/t1_bg.png) -8px 28px no-repeat;
}
#experience div div {
    //display:none;
    padding-left:90px;
}
#experience .title {
    display:block;
    width:330px;
    height:40px;
    background: url(../images/titles.png) 90px 0 no-repeat;
}

#music div div {
    padding:1em 0;
    background:none;
    //display:none;
}
#music:before {
    content: url(../images/t2.png);
	display:block;
	height:49px;
}
#music {
    background:url(../images/t2_bg.png) right bottom no-repeat;
}
#music div {
    padding-bottom:120px;
}
#music .title {    
    display:block;
    width:330px;
    height:40px;
    background: url(../images/titles.png) 0 -50px no-repeat;
}
#tickets:before {
    content: url(../images/t3.png);
	display:block;
	height:28px;
}
#tickets {
    background:url(../images/t3_bg.png) 0 center no-repeat;
}
#tickets div {
    padding-left:102px;
}
#tickets div div {
   //display:none;
}
#tickets ul {
    margin:0;
    padding:0;
    list-style:none;
}
#tickets li {
    padding:1em 0;
}
#tickets .title {    
    display:block;
    width:330px;
    height:40px;
    background: url(../images/titles.png) 95px -100px no-repeat;
}
#vip:before {
    content: url(../images/t4.png);
	display:block;
	height:45px;
}
#vip {
    background:url(../images/t4_bg.png) right bottom no-repeat;
}
#vip div {
    padding-bottom:54px;
}
#vip .title {    
    display:block;
    width:330px;
    height:40px;
    background: url(../images/titles.png) 0 -150px no-repeat;
}
#vip div div {
    //display:none;
}
#photos:before {
	content: url(../images/t5.png);
	display:block;
	height:55px;
}
#photos .title {    
    display:block;
    width:330px;
    height:40px;
    background: url(../images/titles.png) 0 -200px no-repeat;
}
#photos div div {
    padding:0;
    margin:0;
}
#premier {
    padding:0px 1em 1.5em 1em;
    background:rgba(151, 218, 248, 0.3) url(../images/t5_bg.png) right bottom no-repeat;
}
#premier p {
    padding-bottom:.5em;
}
#abbott, #boa, #coke, #toy, #walgreens {
    margin:0;
    padding:.125em;
}
.name {
    	display:none;
}
.logos {
    	background-image:url(../images/sm-logos.png);
        background-repeat:no-repeat;
        display: inline-block;
}
#social .logos {
    background-image:url(../images/social_logos.png);
    width:18px;
    height:17px;
}
#twitter {
    background-position: -25px top;  
}
/* Premier sponsors */
    #abbott {
		background-position: 0 top;
		width:94px;
		height:31px;
	}
	#boa {
		background-position: 0 -50px;
		width:87px;
		height:31px;
	}
	#coke {
		background-position: 0 -100px;
		width:75px;
		height:31px;
	}
	#toy {
		background-position: 0 -150px;
		width:103px;
		height:31px;
	}
	#walgreens {
		background-position: 0 -200px;
		width:92px;
		height:31px;
	}
    #chicago {
        display:block;
        background-position: 0 -250px;
		width:84px;
		height:25px;
    }
    #martincodax {
        display:block;
    	background-position: 0 -300px;
		width:120px;
		height:25px;
    }
#champions p {
    padding:0;
    margin:0;
    line-height:1em;
    padding-bottom:1em;
}
.official {
    font-size:.7em;
}
#adifference:before {
	content: url(../images/t6.png);
	display:block;
	height:48px;
}
#adifference .title {    
    display:block;
    width:330px;
    height:40px;
    background: url(../images/titles.png) 0 -250px no-repeat;
}
#adifference div div {
    //display:none;
}
#bluisgreen:before {
	content: url(../images/t7.png);
	display:block;
	height:48px;
}
#bluisgreen:after {
	content: url(../images/t7_b.png);
	display:block;
	height:25px;
}
#bluisgreen .title {    
    display:block;
    width:330px;
    height:40px;
    background: url(../images/titles.png) 0 -300px no-repeat;
}
#bluisgreen div div {
    //display:none;
}
#bands div:first-child {
    background:none;
    padding:0;
    margin:0;
}
#bands {
    margin-bottom:75px;
}
#bands span {
    display:block;
    clear:left;
}
#featuringtastings li, #board li {
    display:inline;
    padding: 0 2px;
    font-size:.73em;
}
#featuringtastings li {    
    width:155px;
    display:inline-block;
}
#board li:after {
    content:" | ";
}
#board li:last-child:after {
    content:'';
}
#benefactor,
#champions,
#sponsors,
#partner,
#patron,
#supporter,
#featuringmusic,
#featuringtastings,
#board {
    padding:0 0 10px 10px;
}
@media only screen and (min-width: 767px) {
    body {
        width:620px;
    	background: url(../images/bg.png) top center no-repeat, -moz-linear-gradient(top,  #00aabd 0%, #00aabd 15%, #008abb 30%, #143249 75%, #143249 100%); /* FF3.6+ */
    	background: url(../images/bg.png) top center no-repeat, -webkit-gradient(linear, left top, left bottom, color-stop(0%,#00aabd), color-stop(15%,#00aabd), color-stop(30%,#008abb), color-stop(75%,#143249), color-stop(100%,#143249)); /* Chrome,Safari4+ */
    	background: url(../images/bg.png) top center no-repeat, -webkit-linear-gradient(top,  #00aabd 0%,#00aabd 15%,#008abb 30%,#143249 75%,#143249 100%); /* Chrome10+,Safari5.1+ */
    	background: url(../images/bg.png) top center no-repeat, -o-linear-gradient(top,  #00aabd 0%,#00aabd 15%,#008abb 30%,#143249 75%,#143249 100%); /* Opera 11.10+ */
    	background: url(../images/bg.png) top center no-repeat, -ms-linear-gradient(top,  #00aabd 0%,#00aabd 15%,#008abb 30%,#143249 75%,#143249 100%); /* IE10+ */
    	background: url(../images/bg.png) top center no-repeat, linear-gradient(to bottom,  #00aabd 0%,#00aabd 15%,#008abb 30%,#143249 75%,#143249 100%); /* W3C */
        
    }
    #header {
        text-align:center;
    }
    #header h1 {
        width: 630px;
    	height: 321px;
        background:url(../images/m-blu.png);
    }
    #sheddlogo {
    background:url(../images/m_shedd.png);
    margin:0 auto;
    display:block;
    width:183px;
    height:152px;
    margin-bottom:25px;
}
    .mbreak {
        display:inline;
        clear:none;
    }
    #intro {
        width:400px;
        height:350px;
        display:table-cell;
        position:relative;
        padding:0;
        margin:0;
        vertical-align:top;
        clear:none;
        float:left;
    }
    #intro p {
        line-height:2em;
        padding:0 1em;
    }
    #social,#attire,#btntickets {
        width:200px;
        padding:0;
        margin:0;
        vertical-align:top;
        clear:none;
        float:right;
    }
    #social .logos {
        width:25px;
        height:27px;
        margin-right:5px;
    }
    #fb {
        background-position: -52px top;
    }
    #twitter {
        background-position: -88px top;  
    }
    
    #btntickets a {
        margin:.5em;
    }
    #experience {
        clear:both;
    }
    #experience, #experience div:first-child, #experience div div,
    #music, #music div, #music div div, #music div:first-child,
    #bands, #bands div:first-child,
    #tickets, #tickets div:first-child, #tickets div div,
    #vip, #vip div:first-child,
    #photos, #photos div:first-child,
    #adifference, #adifference div:first-child,
    #bluisgreen, #bluisgreen div:first-child {
        background: none;
        padding:0;
        margin:0;
        position:relative;
    }
    #experience {
        background:url(../images/t-experience.png);
        width:630px;
        height:685px;
        margin:0;
        padding:0;
    } 
    #experience .title {
        display:none;
    }
    #experience div div:first-of-type {
        padding-top: 140px;
        padding-left:360px;
    }
    #experience div div:last-of-type {
        padding-top: 145px;
        padding-left:120px;
        width:330px;
    }
    #experience:before,
    #music:before,
    #tickets:before,
    #vip:before,
    #photos:before,
    #adifference:before,
    #bluisgreen:before, #bluisgreen:after {
        content:'';        
    }
    #music:before {
        content:url(../images/t-music.png);
    }
    #music p {
        padding-top:130px;
    }
    .w200 {
        width:200px;
    }
    #music div div:first-of-type {
        padding-top:10px;
        padding-left:300px;
    }
    #bands div, div #bands div, #bands div:first-of-type {
        padding-top:20px;
        background:url(../images/bandsBG.png) 5px top repeat-y;
        padding-left:300px;
        width:300px;
    }
    #music .title {
        display:none;
    }
    #tickets {
        background:url(../images/t-tickets.png) no-repeat;
        width:630px;
        margin:0;
        padding-top:60px;
        padding-left:135px;
        width:450px;
        background-clip:border-box;
    }
    #tickets .title {
        display:none;
    }
    #tickets:after {
        content:url(../images/t-tickets.a.png);
        display:block;
        width:630px;
        height:345px;
        padding:0;
        margin:-50px 0 0 -135px;
    }
    #tickets ul {
        padding-top: 20px;
    }
    #vip {
        background:url(../images/t-vip.png) no-repeat;
        width:630px;
        margin:0;
        padding:0;
    }
    #vip div {
        padding-left:155px;
        width:230px;
        }
    #vip .title {
        display:none;
    }
    #slider {
        width:400px;
        margin:0 auto;
    }
    #premier {
        background:none;
    }
    #photos {
        background:url(../images/t-photos.png) no-repeat;
        width:630px;
        margin:0;
        padding:0;
    }
    #photos .title {
        display:none;
    }
    #featuringtastings li, #board li {    
        width:195px;
        display:inline-block;
    }
    #board li:after {
    content:"";
    }

}